name: Django CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: "1 * * * *"  # كل يوم الساعة 2 صباحًا UTC
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
            python-version: '3.10'
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python manage.py test
    - name: Run flake8
      run: |
        flake8 . --max-line-length=88 --ignore=E203,W503
    - name: Run tests with coverage
      run: |
        coverage run -m pytest
        coverage report -m
email:
    needs: build
    if: github.event_name == 'schedule'   # <-- المهم هنا
    runs-on: ubuntu-latest
    steps:
      - name: Try step 
        run: echo "hello world"
      
   







      


name: CI with Scheduled Email

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 2 * * *"  # كل يوم الساعة 2 صباحًا UTC

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.10

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 coverage selenium webdriver-manager pytest

      - name: Run flake8
        run: flake8 . --max-line-length=88 --ignore=E203,W503

      - name: Run tests with coverage
        run: |
          coverage run -m pytest
          coverage report -m

  email:
    needs: build
    if: github.event_name == 'schedule'   # <-- المهم هنا
    runs-on: ubuntu-latest
    steps:
      - name: Send email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_USER }}
          password: ${{ secrets.EMAIL_PASS }}
          subject: GitHub Actions Report
          to: your_email@example.com
          from: your_email@example.com
          body: "The scheduled pipeline has completed. Check the logs on GitHub."
          secure: true