name: Django CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
            python-version: '3.10'
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run flake8
      run: |
        echo "hello" 
    - name: Run Tests
      run: |
        pytest
    - name: Run tests with coverage
      run: |
        coverage run -m pytest
        coverage report -m
    





# name: Django CI

# on:
#   push:
#     branches: [ "master" ]
#   pull_request:
#     branches: [ "master" ]
#   schedule:
#     - cron: "1 * * * *"  # كل يوم الساعة 2 صباحًا UTC
#   workflow_dispatch:

# jobs:
#   build:

#     runs-on: ubuntu-latest
#     strategy:
#       max-parallel: 4
      

#     steps:
#     - uses: actions/checkout@v4
#     - name: Set up Python ${{ matrix.python-version }}
#       uses: actions/setup-python@v3
#       with:
#             python-version: '3.10'
#     - name: Install Dependencies
#       run: |
#         python -m pip install --upgrade pip
#         pip install -r requirements.txt
#     - name: Run Tests
#       run: |
#         python manage.py test
#     - name: Run flake8
#       run: |
#         flake8 . --max-line-length=88 --ignore=E203,W503
#     - name: Run tests with coverage
#       run: |
#         coverage run -m pytest
#         coverage report -m